.labels
{
        -fx-font-size: 40px;
    -fx-background-color: lightyellow;
}

.table-column
{
    -fx-alignment: center;
}

.grid-pane-border
{
    -fx-border-style: none none solid none;
    -fx-border-color: black;
}